.img1 {
  content: url("https://picsum.photos/id/237/200/300");
}

.img2 {
  content: url("");
}

.img3 {
  content: url("");
}
.img4 {
  content: url("");
}
.img5 {
  content: url("");
}

img {
  margin: 10px;
  border: 5px solid #555;
  width: 10%;
}

.flex {
  display: flex;
  justify-content: center;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  margin: 20px;
}
